@charset "utf-8";

body {
    background-color: rgb(151, 153, 153);
}

p {
    color: white;
}

img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

.cssirmao {
    width: 200px;
    height: auto;
}

.casadatuamae {
    width: 250px ; 
    height: auto;  
}